 <!-- THIS IS THE CSS !-->
        <style>
            /* user styles */

            /* styles are what change the color and sizes of stuff on your site. */

            /* these are variables that are being used in the code
    these tended to confuse some people, so I only kept 
    the images as variables */

            :root {
                --header-image: url('https://sadhost.neocities.org/images/layouts/wp.jpeg');
                --body-bg-image: url('https://mariogaming27401.neocities.org/bgmariogames.png');

                /* colors */
                --content: #360101;
            }

            /* if you have the URL of a font, you can set it below */
            /* feel free to delete this if it's not your vibe */

            /* this seems like a lot for just one font and I would have to agree 
    but I wanted to include an example of how to include a custom font.
    If you download a font file you can upload it onto your Neocities
    and then link it! Many fonts have separate files for each style
    (bold, italic, etc. T_T) which is why there are so many!
    
    */

            @font-face {
                font-family: 'I know a ghost';
                src: url('https://mariogaming27401.neocities.org/fonts/iknowaghost.ttf');
            }

            @font-face {
                font-family: 'Comic Sans MS Bold';
                src: url('https://mariogaming27401.neocities.org/fonts/design.graffiti.comicsansmsgras.ttf');
                font-weight: bold;
            }

            @font-face {
                font-family: 'Comic Sans MS';
                src: url('https://mariogaming27401.neocities.org/fonts/comici.ttf');
                font-style: italic;
            }

            @font-face {
                font-family: 'Comic Sans MS Bold Italic';
                src: url('https://mariogaming27401.neocities.org/fonts/comicz.ttf');
                font-style: italic;
                font-weight: bold;
            }

            body {
                font-family: 'I know a ghost', sans-serif;
                margin: 0;
                background-color: #660b0b;
                /* you can delete the line below if you'd prefer to not use an image */
                background-size: 720px;
                color: #f5f5f5;
                background-image: var(--body-bg-image);
                cursor: url('images/cursorsite_32x32.png'), auto;
            }

            * {
                box-sizing: border-box;
            }

            /* below this line is CSS for the layout */

            /* this is a CSS comment
    to uncomment a line of CSS, remove the * and the /
    before and after the text */


            /* the "container" is what wraps your entire website */
            /* if you want something (like the header) to be Wider than
    the other elements, you will need to move that div outside
    of the container */
            #container {
                max-width: 900px;
                /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
                margin: 0 auto;
                /* this centers the entire page */
            }

            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: #f00707;
                font-weight: bold;
                /* if you want to remove the underline
      you can add a line below here that says:
      text-decoration:none; */
            }

            #header {
                width: 100%;
                background-color: #3b1212;
                /* header color here! */
                height: 150px;
                /* this is only for a background image! */
                /* if you want to put images IN the header, 
      you can add them directly to the <div id="header"></div> element! */
                background-image: var(--header-image);
                background-size: 100%;
            }

            /* navigation section!! */
            #navbar {
                height: 40px;
                background-color: #140000;
                /* navbar color */
                width: 100%;
            }

            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }

            #navbar li {
                padding-top: 10px;
            }

            /* navigation links*/
            #navbar li a {
                color: #f5f5f5;
                /* navbar text color */
                font-weight: 800;
                text-decoration: none;
                /* this removes the underline */
            }

            /* navigation link when a link is hovered over */
            #navbar li a:hover {
                color: #ff0000;
                text-decoration: underline;
            }

            #flex {
                display: flex;
            }

            /* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
            aside {
                background-color: #050000;
                width: 200px;
                padding: 20px;
                font-size: smaller;
                /* this makes the sidebar text slightly smaller */
            }


            /* this is the color of the main content area,
    between the sidebars! */
            main {
                background-color: #5e0c0c;
                flex: 1;
                padding: 20px;
                order: 2;
            }

            /* what's this "order" stuff about??
    allow me to explain!
    if you're using both sidebars, the "order" value
    tells the CSS the order in which to display them.
    left sidebar is 1, content is 2, and right sidebar is 3! */

            */ #leftSidebar {
                order: 1;
            }

            #rightSidebar {
                order: 3;
            }

            footer {
                background-color: #1a0707;
                /* background color for footer */
                width: 100%;
                height: 40px;
                padding: 10px;
                text-align: center;
                /* this centers the footer text */
            }

            h1,
            h2,
            h3 {
                color: #1a0707;
            }

            h1 {
                font-size: 25px;
            }
            
            p {
                font-size: 25px;
                color: #1a0707;
            }

            strong {
                /* this styles bold text */
                color: #730808;
            }

            /* this is just a cool box, it's the darker colored one */
            .box {
                background-color: #631212;
                border: 1px solid #450d0d;
                padding: 10px;
            }

            /* CSS for extras */

            #topBar {
                width: 100%;
                height: 30px;
                padding: 10px;
                font-size: smaller;
                background-color: #290404;
            }


            /* BELOW THIS POINT IS MEDIA QUERY */

            /* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

            @media only screen and (max-width: 800px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #navbar ul {
                    flex-wrap: wrap;
                }
            }
              /* Loader Styles */
              #loader {
                position: fixed;
                top: 0; 
                left: 0;
                width: 100vw; 
                height: 100vh;
                background: #5c0505;
                color: #f5f5f5;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 2000;
              }
              
              #loader h1 {
                margin: 0;
                font-size: 2rem;
              }
              
              #loader p {
                margin-top: 10px;
                font-size: 1.2rem;
              }
              
              #skipButton {
                margin-top: 15px;
                padding: 8px 16px;
                background: #007bff;
                color: white;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                font-family: 'I know a ghost', sans-serif;
              }
              
              /* Volume Slider Popup */
              #enableSoundPopup {
                position: fixed;
                top: 0; 
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: #a30000;
                color: white;
                display: none; /* initially hidden */
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 9999;
                font-family: 'I know a ghost', sans-serif;
                text-align: center;
                padding: 20px;
              }
              
              #enableSoundPopup p {
                font-size: 1.2rem;
                margin-bottom: 20px;
              }
              
              #volumeSlider {
                width: 200px;
                margin-bottom: 20px;
                cursor: pointer;
              }
              
              /* Fixed Enable Sound Button */
              #enableSoundButtonFixed {
                position: fixed;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                background-color: #28a745;
                color: white;
                border: none;
                border-radius: 8px;
                padding: 12px 20px;
                font-family: 'I know a ghost', sans-serif;
                cursor: pointer;
                z-index: 99999;
                box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                display: none; /* hidden by default */
                user-select: none;
              }
              
              #enableSoundButtonFixed:hover {
                background-color: #218838;
              }
                          
        </style>

    